gunicorn
audioread==2.1.8
Flask==1.1.2
Flask-Cors==3.0.8
h5py==2.10.0
httplib2==0.18.1
joblib==0.16.0
Keras==2.4.3
librosa==0.8.0
llvmlite==0.31.0
matplotlib==3.3.0
numba==0.48.0
numpy==1.18.5
pandas==1.1.0
pydub==0.24.1
tensorflow==2.3.0
urllib3==1.25.10
Werkzeug==1.0.1